<div id="link">
  <div class="link-left">
    <span>{{ link.linkVote }}</span>
    <span>POINTS</span>
  </div>
  <div class="link-right">
    <div class="link-right__title">
      {{ link.linkName }}
    </div>
    <div class="link-right__url">
      (<a [href]="link.linkUrl" target="_blank">
        {{ link.linkUrl }}
      </a>)
    </div>
    <div class="link-right__vote-buttons">
      <div
        class="link-right__vote-buttons__up"
        (click)="voteUp(link.linkId)">
        <i class="arrow-up"></i>Up Vote
      </div>
      <div
        class="link-right__vote-buttons__down"
        (click)="voteDown(link.linkId)">
        <i class="arrow-down"></i>Down Vote
      </div>
    </div>
  </div>
  <div
    class="link-delete"
    (click)="deleteLink(link.linkId, link.linkName)">
  </div>
</div>
