@import '../../../assets/styles/variables.scss';

.submit-link {
  @extend %box2;
  padding: 10px;
  cursor: pointer;
  font-size: 32px;
  letter-spacing: 2px;
  align-items: center;
  i {
    display: block;
    border-radius: 5px;
    background-color: #ececec;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    border: 1px solid #979797;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 24px;
      background-color: #000;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:before {
      transform: rotate(90deg);
    }
  }
}