#notification {
  position: fixed;
  width: 480px;
  max-width: calc(100% - 20px);
  border: 1px solid;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 15px #ddd;
  &.success {
    border-color: #5aad5a;
    color: #5aad5a;
    background-color: #ddf9d3;
  }
  &.error {
    border-color: #ff0000;
    color: #ff0000;
    background-color: #ffeaea;
  }
  &.warning {
    border-color: #c5c400;
    color: #000;
    background-color: #fffd00;
  }
}