<div id="list">
  <app-add-link></app-add-link>
  <hr>
  <app-sort-select (sortBy)="setSortPipe($event)"></app-sort-select>
  <div class="links" *ngIf="(listOnPager$ | async).length; else empty">
    <ng-container *ngFor="let link of (listOnPager$ | async) | sort:(sortArg | async)">
      <app-link [link]="link" (removeLink)="removeLink($event)"></app-link>
    </ng-container>
  </div>
  <ng-template #empty>
    <h4>Hic link bulunamadı!</h4>
  </ng-template>
  <div class="pagination" *ngIf="(listOnPager$ | async).length">
    <div
      class="pagination__prev"
      (click)="pagerNavigation('prev')"
      [ngClass]="{disabled: this.selectedPage === 1}">
      <i class="arrow-left"></i>
    </div>
    <ng-container *ngFor="let page of (pager$ | async); let i = index">
      <div
        class="pagination__item"
        [ngClass]="{selected: page.selected}"
        (click)="changeSelectedPage(i)">
        {{ page.no }}
      </div>
    </ng-container>
    <div
      class="pagination__next"
      (click)="pagerNavigation('next')"
      [ngClass]="{disabled: this.selectedPage === (pager$ | async).length}">
      <i class="arrow-right"></i>
    </div>
  </div>
</div>

<app-modal *ngIf="(modalStatus$ | async)" (modalEvent)="onModalEvent($event)">
  <div class="modal__content__text">
    Do you want to remove:
    <span>{{ (removedLink$ | async).name }}</span>
  </div>
</app-modal>
