<div id="list">
  <app-add-link></app-add-link>
  <hr>
  <app-sort-select></app-sort-select>
  <div class="links">
    <ng-container *ngFor="let link of (linkList$ | async)">
      <app-link [link]="link" (removeLink)="removeLink($event)"></app-link>
    </ng-container>
  </div>
</div>

<app-modal *ngIf="modalStatus$ | async" (modalEvent)="onModalEvent($event)">
  <div class="modal__content__text">
    Do you want to remove:
    <span>{{ (removedLink$ | async).name }}</span>
  </div>
</app-modal>
