@import './assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* Form alanlari: */

label {
  font-size: 18px;
  font-weight: 300;
  padding: 0 0 5px 10px;
  display: block;
}

button {
  @extend %button;
}

select {
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
  &::placeholder {
    color: #c7c7c7;
  }
  &[type=text] {
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    &.error {
      border-color: #ff0000;
    }
  }
  &[type=submit] {
    @extend %button;
  }
}

/* Form alanlari son */

/* Oklar: */

.arrow-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px
}
.arrow-up::after,
.arrow-up::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 4px
}
.arrow-up::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 7px
}
.arrow-up::before {
  width: 2px;
  height: 16px;
  left: 10px;
  background: currentColor
}

.arrow-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px
}
.arrow-down::after,
.arrow-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 4px
}
.arrow-down::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 7px
}
.arrow-down::before {
  width: 2px;
  height: 16px;
  left: 10px;
  background: currentColor
}

.arrow-left {
  position: relative;
  display: block;
  width: 22px;
  height: 22px
}
.arrow-left::after,
.arrow-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px
}
.arrow-left::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
}
.arrow-left::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
}

.arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px
}
.arrow-right::after,
.arrow-right::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  right: 3px
}
.arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
}
.arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
}

/* Oklar son */